<div class="mt-3">
  <div class="product-card-desktop">
    <%= cl_image_tag product.img, width: 200, height: 133, class: "mt-2" %>
    <h5 class="product-name"><%= product.name %></h5>
    <div class="trace-me mt-3 mb-2">TRACE ME: <%= product.code %></div>
    <p>Manufacture Date: <%= product.production_date %></p>
    <p>Expiry Date: <%= product.expiry_date %></p>
  </div>
</div>
