<%= render 'info_pop_up', lang: @lang %>

<%= render 'navbar', lang: @lang %>

<%= render 'product_card', product: @product if @product%>
<div class="img-desktop"></div>
<div class="container mt-3 container-all-cards">
  <div id="accordion">
    <% 6.times do |i| %>
        <%=  render 'info-card', i: i, lang: @lang %>
    <% end %>
  </div>
  <%= render 'product-card-desktop', product: @product if @product%>
</div>

